/Intermediate
/Libraries
/Output
/.vs
/External Libs/FBX_SDK/lib/vs2015/x86/release/libfbxsdk-md.lib
/External Libs/FBX_SDK/lib/vs2015/x86/release/libfbxsdk-mt.lib
/External Libs/FBX_SDK/lib/vs2015/x86/debug/libfbxsdk-mt.lib
/External Libs/FBX_SDK/lib/vs2015/x86/debug/libfbxsdk-md.lib
/External Libs/FBX_SDK/lib/vs2015/x64/release/libfbxsdk-md.lib
/External Libs/FBX_SDK/lib/vs2015/x64/release/libfbxsdk-mt.lib
/External Libs/FBX_SDK/lib/vs2015/x64/debug/libfbxsdk-mt.lib
/External Libs/FBX_SDK/lib/vs2015/x64/debug/libfbxsdk-md.lib
